.new__inner{
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: scroll;
    gap: 40px;
    margin: 70px 0;
}
.new{
    background: #F8F8F8;
}
.new__item{
    border-radius: 10px;
    padding: 10px 30px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 300px;
    padding-bottom: 40px;
    position: relative;
}
.new__item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 88px;
    height: 46px;
    background: url(/img/image\ 59.svg) no-repeat;
    background-position: center;
    background-size: cover;
}
.new__item::after{
    content: 'out of order';
    position: absolute;
    top: 20px;
    right: 30px;
    color: green;
}